<div class="page">
	<div class="page-main">
		<div class="app-header1 header py-1 d-flex">
			<div class="container-fluid">
				<div class="d-flex">


					<!--this will show user image at the top right-->
					<div class="d-flex order-lg-2 ml-auto">
						<div class="dropdown mt-1">
							<a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
								<span class="avatar avatar-md brround" style="background-image: url(assets/images/faces/female/25.jpg)"></span>
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>


		<div class=" content-area">
			<div class="page-header">
				<h4 class="page-title">Select your desired Bank/Account for this transaction</h4>
				<ol class="breadcrumb">
					<li class="breadcrumb-item active" aria-current="page">Monica Ancient</li>
				</ol>

			</div>

			<div class="row">
			
				<div class="col-md-12 col-xl-4">
					<a ui-sref="fbn">
						<div class="card">
							<div class="card-header bg-blue br-tr-7 br-tl-7">
								<h3 class="card-title">First Bank (FBN)</h3>
							</div>
							<div class="card-body">
								Ademola Babatola Jerome
							</div>
							<div class="card-footer">
								112****455
							</div>
						</div>
					</a>
				</div>
			
				<div class="col-md-12 col-xl-4">
					<div class="card">
						<div class="card-header bg-orange br-tr-7 br-tl-7">
							<h3 class="card-title text-white">Guaranteed Trust Bank (GTB) </h3>
						</div>
						<div class="card-body">
							Ademola Babatola Jerome
						</div>
						<div class="card-footer">
							223****566
						</div>
					</div>
				</div>
			
				<div class="col-md-12 col-xl-4">
					<div class="card">
						<div class="card-header bg-pink br-tr-7 br-tl-7">
							<h3 class="card-title">Sky Bank</h3>
						</div>
						<div class="card-body">
							Ademola Babatola Jerome
						</div>
						<div class="card-footer">
							334****677
						</div>
					</div>
				</div>
			
			</div>
			
			<div class="row">
			
				<div class="col-md-12 col-xl-4">
					<div class="card text-black">
						<div class="card-header bg-red br-tr-7 br-tl-7">
							<h3 class="card-title ">Zenith Bank Plc</h3>
						</div>
						<div class="card-body">
							Ademola Babatola Jerome
						</div>
						<div class="card-footer">
							445****788
						</div>
					</div>
				</div>
			
				<div class="col-md-12 col-xl-4">
					<div class="card text-black">
						<div class="card-header bg-green br-tr-7 br-tl-7">
							<h3 class="card-title ">Diamond Bank</h3>
						</div>
						<div class="card-body">
							Ademola Babatola Jerome
						</div>
						<div class="card-footer">
							556****899
						</div>
					</div>
				</div>
			
				<div class="col-md-12 col-xl-4">
					<div class="card text-black">
						<div class="card-header bg-teal br-tr-7 br-tl-7">
							<h3 class="card-title ">Eco Bank</h3>
						</div>
						<div class="card-body">
							Ademola Babatola Jerome
						</div>
						<div class="card-footer">
							667****900
						</div>
					</div>
				</div>
			
			</div>

		</div>
	</div>
</div>

<!-- End Footer-->
</div>