<div class="page">
	<div class="page-main">
		<div class="app-header1 header py-1 d-flex">
			<div class="container-fluid">
				<div class="d-flex">
            <div class="d-flex order-lg-2 ml-auto">
                <div class="dropdown mt-1">
                  
                    <span class="avatar avatar-md brround" style="background-image: url(assets/images/faces/female/25.jpg)"></span>
                 
                </div>
              </div>
          </div>
          </div>
          </div>
          <div class=" content-area">
              <div class="page-header">
                  <h4 class="page-title">Select your desired Bank/Account for this transaction</h4>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Monica Ancient</li>
                  </ol>
          
                </div>
                <div class="row">
                    <div class="col-md-12 col-xl-4">
                        <a href="#" [routerLink]="['/bank']" ui-sref="fbn">
                          <div class="card">
                            <div class="card-header bg-blue br-tr-7 br-tl-7">
                              <h3 class="card-title">First Bank (FBN)</h3>
                            </div>
                            <div class="card-body">
                              Ademola Babatola Jerome
                            </div>
                            <div class="card-footer">
                              112****455
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-md-12 col-xl-4">
                          <a href="#" [routerLink]="['/bank']" ui-sref="fbn">
                            <div class="card">
                              <div class="card-header bg-orange br-tr-7 br-tl-7">
                                <h3 class="card-title">Guarenteed Trust Bank (GTB)</h3>
                              </div>
                              <div class="card-body">
                                Ademola Babatola Jerome
                              </div>
                              <div class="card-footer">
                                112****455
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="col-md-12 col-xl-4">
                            <a href="#" [routerLink]="['/bank']" ui-sref="fbn">
                              <div class="card">
                                <div class="card-header bg-pink br-tr-7 br-tl-7">
                                  <h3 class="card-title">Skye Bank</h3>
                                </div>
                                <div class="card-body">
                                  Ademola Babatola Jerome
                                </div>
                                <div class="card-footer">
                                  112****455
                                </div>
                              </div>
                            </a>
                          </div>
                          <div class="col-md-12 col-xl-4">
                              <a href="#" [routerLink]="['/bank']" ui-sref="fbn">
                                <div class="card">
                                  <div class="card-header bg-red br-tr-7 br-tl-7">
                                    <h3 class="card-title">Zenith Bank Plc</h3>
                                  </div>
                                  <div class="card-body">
                                    Ademola Babatola Jerome
                                  </div>
                                  <div class="card-footer">
                                    112****455
                                  </div>
                                </div>
                              </a>
                            </div>
                            <div class="col-md-12 col-xl-4">
                                <a href="#" [routerLink]="['/bank']" ui-sref="fbn">
                                  <div class="card">
                                    <div class="card-header bg-green br-tr-7 br-tl-7">
                                      <h3 class="card-title">Diamond Bank</h3>
                                    </div>
                                    <div class="card-body">
                                      Ademola Babatola Jerome
                                    </div>
                                    <div class="card-footer">
                                      112****455
                                    </div>
                                  </div>
                                </a>
                              </div>
                              <div class="col-md-12 col-xl-4">
                                  <a href="#" [routerLink]="['/bank']" ui-sref="fbn">
                                    <div class="card">
                                      <div class="card-header bg-teal br-tr-7 br-tl-7">
                                        <h3 class="card-title">EcoBank Plc </h3>
                                      </div>
                                      <div class="card-body">
                                        Ademola Babatola Jerome
                                      </div>
                                      <div class="card-footer">
                                        112****455
                                      </div>
                                    </div>
                                  </a>
                                </div>
                      
                </div>
          </div>
          </div>
          </div>